.counter {
    display: inline-flex;
    cursor: pointer;
    width: 200px;
    height: 200px;
    max-width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: calc(1em + 1vmin);
    transition: height .2s ease-in-out;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.2);
    margin: 1em 0;
}

.percentage {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    right: 0;
    vertical-align: middle;
    transform: translate3d(0,-50%,0);
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

input {
    width: 200px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.bg-style {
    padding: 2em;
}
