body, html {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background: url("https://i.imgur.com/Yy0JSzN.jpg") center no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.card {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate3d(50%, -50%, 0);
    height: 70%;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 2% 2% 2% 2%;
    border: 1px 1px 1px 1px;
    border-radius: 1%;
}

.form-signin {
    height: 50%;
}

.profile-img-card {
    width: 25%;
    height: 22%;
    margin: 10% auto 15%;
    display: block;
    border-radius: 50%;
}

.form-control {
    border: 1px solid #d0d0d0;
    border-radius: 0.5vh;
}

.form-signin #inputName,
.form-signin #inputEmail,
.form-signin #inputPassword,
.form-signin #inputConfirm,
.form-signin #inputHeight,
.form-signin #inputWeight,
.form-signin #inputYears {
    margin: 5% 0 5% 0;
    height: 16%;
    padding-left: 3%;
    font-size: 100%;
}



.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    margin-top: 30px;
    color: white;
    background-color: rgb(104, 145, 162);
    padding: 0px;
    font-weight: 700;
    font-size: 100%;
    height: 16%;
    border-radius: 0.5vh;
    border: none;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
   background-color: rgb(142, 166, 176);
}

.link {  
    font-size: 100%;
    color: #1b117b;
}

.link:hover {
    color: #140d57;
 }
