#summary {
    width: 100%;
    min-height: 100vh;
    padding: 3%;
}

#container {
    width: 10%;
    height: 10%;
    position: relative;
}

.progressbar {
    height: 480px;
    width: 380px;
    background-color: white;
    border-radius: 5px 5px;
    box-shadow: #d8d8d8 5px 5px 10px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    margin: 20px auto 0 auto;
}

@media (max-width: 768px) {
    #container {
        padding: 0 200px 0 200px;
    }
}

#table {
    margin: 0 auto 0 auto;
}

td {
    background-color: white;
}

tbody th {
    background-color: white;
}
